@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

* {
    box-sizing: border-box;
}

header {
    margin-top: 10%;
}

body {
    background-color: #585858;
}

#h1div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Cinzel', serif;
	font-size: 50px;
	color: whitesmoke;
}

#h1div h1 {
    text-align: center;
}

.mainDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgDisplay {
    margin: 5% 0;
}

.imgDisplay img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: 5px solid #E5E5E5;
    border-radius: 4px;
}

.jobTitleDiv {
    color: white;
    font-size: 30px;
    text-align: center;
}

#webpageLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

.webpagelinks {
    font-size: 50px;
    display:flex;
    flex: 1 0 auto;
    color: whitesmoke;
    margin: 9% 0;
}

h2 {
font-family: 'Cinzel', serif;
    font-size: 30px;
}

#aboutme {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

#aboutme h2 {
    color: white;
    font-size: 30px;
    word-break: keep-all;
    width: 100%;
    text-align: center;
}

#aboutme p {
    background-color: #E5E5E5;
    padding: 5%;
    word-break: break-all;
}

#work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#work h2 {
    color: white;
    text-align: center;
}

.firstapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 90%;
    max-width: 100%;
}

.firstapp h3 {
    color: white;
    text-align: center;
}

.firstapp h4 {
    color: white;
    text-align: center;
}

#firstappimg {
    max-width: 100%;
    height: auto;
    border: 2px solid #5C6580;
    opacity: 50%;
}

#firstappimg:hover {
    max-width: 100%;
    height: auto;
    border: 2px solid #5C6580;
    opacity: 100%;
    transition: 2s;
}

h3 {
    margin:1px;
font-family: 'Cinzel', serif;
    font-size: 25px;
    position: relative;
    width: fit-content;
}

h4 {
    margin: 1px;
font-family: 'Cinzel', serif;
    font-size: 20px;
    position: relative;
    width: fit-content;
}

#appsdiv {
    display: flex;
    flex-wrap: wrap;

}

.apps {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    align-items: center;
}

.apps h3 {
    color: white;
    text-align: center;
}

.apps h4 {
    color: white;
    text-align: center;
}

.applicationpics {
    flex: 1 1 0;
    width: 500px;
    height: 200px;
    object-fit: cover;
    padding: 2px;
    opacity: 50%;
}

.applicationpics:hover {
    width: 500px;
    height: 200px;
    object-fit: cover;
    padding: 2px;
    opacity: 100%;
    transition: 2s;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}

#contactmeheader {
    padding: 2px 5px;
    color: white;
    font-size: 50px;
}

#contactlinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    text-align: center;
}

.contactme {
    color: whitesmoke;
    font-size: 30px;
    margin: 2% 0;
}

