header {
    display: flex;
    flex: 0 0 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 10px solid #5C6580;
    background-color: #364573;
}

h1 {
    display: inline-flex;
    order: 1;
    padding: 10px;
    width:fit-content;
    height: fit-content;
    border-bottom: 5px solid black;
}

#myface {
    width: 150px;
    height: auto;
}

.topnav {
    display: flex;
    order: 2;
}

body {
    background-color: #585858;
}

ul {
    display: flex;
    align-items: flex-end;
    list-style-type: none;
}

li {
    float:left;
}

.webpagelinks {
    background-color: #5C6580 ;
    color: whitesmoke;
    padding: 10px;
    border: 1px solid black;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-left: 50px;
    position: relative;
    border-bottom: 5px solid black;
}

#aboutme {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px solid red;
}

#work {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid blue;
}

p {
    margin-left: 50px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.firstapp {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    flex: 0 0 100%;
    float: left;
}

#firstapp {
    width: 90%;
    height: auto;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: relative;
    border-bottom: 5px solid black;
    width: fit-content;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
    border-bottom: 5px solid black;
    width: fit-content;
}

.apps {
    display: flex;
    flex: 0 0 30%;
    flex-direction: column;
    border: 1px solid;
    margin-left: 50px;
}

.contactme {
    color: whitesmoke;
    padding: 10px;
    border: 1px solid whitesmoke;
    width:fit-content;
}

.bottomnav {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    background-color: black;
    color: whitesmoke;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 10px solid #5C6580;
    background-color: #364573;
}